.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;
    overflow-y: scroll;
  }
  
.history-table {
    width: 80%;
    margin: 20px 0;
    border-collapse: collapse;
  }
  
  .history-table th,
  .history-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .history-table th {
    background-color: #4CAF50;
    color: white;
  }
  
  .history-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .history-table tr:hover {
    background-color: #ddd;
  }
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
  }